@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
body{
	font-family: 'Roboto', sans-serif;
}
*{
	margin:0px;
	padding: 0px;
	box-sizing: border-box;
}
.clr{
	clear: both;
}

/*home*/
.header-section{
    margin-left: 15px;
    margin-right: 68px;
}
.main-container{
	width: 100%;
	height:auto;
	margin: auto;
	max-width: 1200px;
    box-shadow: 0px 0px 25px 0px rgb(0 0 0 / 20%);
}
.head-part{
	width: 100%;
    height: 75px;
    top: 0;
    position: fixed;
    margin: auto;
    z-index: 99;
    background: #fff;
}
.logo{
	width: 300px;
    float: left;
    margin-left: 26px;
}
.logo img {
    width: 200px;
    padding-top: 14px;
    padding-bottom: 5px;
    margin-left: 48px;
}




.banner-part{
	width: 1320px;
	height:310px;
	margin: auto;
	margin-top: 17px;
	margin-bottom: 241px;
}
.banner-part img{
	width: 100%
}




.about-content{
	width: 100%;
    height: auto;
    margin: auto;
    margin-top: 285px;
}
.img-part{
	width: 497px;
    height: 297px;
    float: left;	
}
.img-part img{
	width: 403px;
    margin-left: 146px;
    position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: 3;
}

@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
.abt-content{
	width: 681px;
    /* height: 272px; */
    float: left;
    margin-left: 4px;
    line-height: 26px;
    padding-left: 114px;
    padding-right: 150px;
    margin-top: 7px;
}
.abt-content h2{
	font-family: 'Dancing Script', cursive;
	font-size: 40px;
	font-weight: bold;
	text-align: justify;
	color: #243038;
    margin-bottom: 20px;

}
.abt-content p{
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	text-align: justify;
	color: #243038;
}





.product-gallery{
	width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 121px;
    margin-top: 50px;
}
.product-gallery-box{
	width: 290px;
	height: 311px;
	background: #197abe;
	float: left;
	margin-right:40px;
}

.product-gallery-box p{
	width: 290px;
    height: 57px;
    background: #28353d;
    float: left;
    margin-right: 13px;
    text-align: center;
    color: #fff;
    font-size: 23px;
    padding-top: 15px;
}

.product-gallery-box img{
	width: 290px;
	height: 311px;
	background: #197abe;
	float: left;
	margin-right:13px;
}
.product-gallery-box1{
	width: 290px;
	height: 311px;
	background: #197abe;
	float: right;	
}

.product-gallery-box1 img{
	width: 290px;
	height: 311px;
	background: #197abe;
	float: left;
	margin-right:13px;
}

.product-gallery-box1 p{
	width: 290px;
    height: 57px;
    background: #28353d;
    float: left;
    margin-right: 13px;
    text-align: center;
    color: #fff;
    padding-top: 20px;
}




.testimonials{
	width: 1200px;
    height: 353px;
    margin: auto;
    padding: 78px;
    background: #f38e92;
    margin-top: 25px;
    margin-bottom: 68px;
}
.testimonials .inner{
	border: 5px solid #fff;
    padding: 36px 20px 36px 20px;
}
.testimonials .inner h3{
	font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #28353d;

}
.testimonials .inner p{
	font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    color: #28353d;
}

.feel-natural-section{
margin-bottom: 80px;
}
.feel-natural-section .inner-feel h3{
	font-size: 56px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 700;
    font-family: 'Dancing Script', cursive;
}
.feel-natural-section .inner-feel img{
	margin-left: 94px;
}


/*home*/


/*about*/
.about-banner-part{
margin-top: 79px;
}

.about-banner-part img{
    width: 100%;
}
.about-banner-part .abt-links{
  text-align: center;
    margin-top: -76px;
    margin-bottom: 120px;
}

.about-banner-part .abt-links span a{
    color: #fff;
    text-decoration: none;
    font-size: 23px;
    font-family: 'Dancing Script', cursive;
}

.about-banner-part .abt-links h3{
color: #fff;
padding-top: 5px;
}


.line{
   color: #fff;
    margin-top: 6px;
}

.about-us-content{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 55px;
}
.img-part-abt{
    width: 497px;
    height: 297px;
    float: left;    
}
.img-part-abt img{
    width: 442px;
    margin-left: 73px;
    margin-top: 20px;
}
.inner-abt-content{
    width: 681px;
    /* height: 272px; */
    float: left;
    margin-left: 4px;
    line-height: 26px;
    padding-left: 25px;
    padding-right: 150px;
    margin-top: 38px;
}
.inner-abt-content h2{
   font-family: 'Dancing Script', cursive;
    font-size: 42px;
    font-weight: bold;
    text-align: justify;
    color: #243038;
    margin-bottom: 17px;

}
.inner-abt-content p{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    text-align: justify;
    color: #243038;
}



.counter{
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 121px;
    margin-top: 50px;
}
.counter-gallery-box{
    width: 290px;
    float: left;
    margin-right:13px;
    text-align: center;
   
}

.counter-gallery-box p{
    width: 290px;
    float: left;
    margin-right: 13px;
    text-align: center;
    color: #2a2a2a;
    padding-top: 20px;
    font-size: 27px;
    font-weight: 600;
}

.counter-gallery-box h4{
    width: 290px;
    float: left;
    margin-right: 13px;
    text-align: center;
    color: #f38e92;
    padding-top: 20px;
    text-align: center;
    font-size: 31px;
}

.counter-gallery-box img{
    width: 73px;
    height: auto;
    float: left;
    margin-right:13px;
    text-align: center;
    margin-left: 111px;
}
.counter-gallery-box1{
    width: 290px;
    float: right;  
}

.counter-gallery-box1 img{
     width: 70px;
    height: auto;
    float: left;
    margin-right:13px;
    margin-left: 111px;
}

.counter-gallery-box1 p{
    width: 290px;
    float: left;
    margin-right: 13px;
    text-align: center;
    color: #2a2a2a;
    padding-top: 20px;
    font-size: 27px;
    font-weight: 600;

}

.counter-gallery-box1 h4{
   width: 290px;
    float: left;
    margin-right: 13px;
    text-align: center;
    color: #f38e92;
    padding-top: 20px;
    text-align: center;
    font-size: 31px;
}

.spa{
    width: 60px !important;
}

.collapse-section{
    width: 650px;
    margin-left: 305px;
    margin-top: -51px;
    margin-bottom: 74px;
}

.collapse-section h2{
text-align: center;
 font-family: 'Dancing Script', cursive;
 font-size: 40px;
 margin-bottom: 23px;
}

.collapsible {
  background-color: #f38e92;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  margin-bottom: 14px;
  border-left: 5px solid #243038;
}



.active, .collapsible:hover {
  background-color: #243038;
   border-left: 5px solid #f38e92;
}

.content {
 padding: 20px;
    margin-top: -13px;
    margin-bottom: 16px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.content p{
padding: 20px;
}
/*about*/


/*services*/

.services-banner-part{
margin-top: 79px;
}

.services-banner-part img{
    width: 100%;
}
.services-banner-part .ser-links{
  text-align: center;
    margin-top: -76px;
    margin-bottom: 120px;
}

.services-banner-part .ser-links span a{
    color: #fff;
    text-decoration: none;
    font-size: 23px;
    font-family: 'Dancing Script', cursive;
}

.services-banner-part .ser-links h3{
color: #fff;
padding-top: 5px;
}


.line{
   color: #fff;
    margin-top: 6px;
}

.services{
   margin-bottom: 88px;
    margin-left: 93px;
}

.service-content-one{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 55px;
}
.img-part-ser-one{
    width: 497px;
    height: 297px;
    float: left;    
}
.img-part-ser-one img{
   width: 442px;
    margin-left: 50px;
    margin-top: 69px;
}
.inner-ser-content-one{
    width: 681px;
    /* height: 272px; */
    float: left;
    margin-left: 4px;
    line-height: 26px;
    padding-left: 25px;
    padding-right: 150px;
    margin-top: 38px;
}
.inner-ser-content-one h2{
   font-family: 'Dancing Script', cursive;
    font-size: 42px;
    font-weight: bold;
    text-align: justify;
    color: #243038;
    margin-bottom: 17px;

}
.inner-ser-content-one p{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    text-align: justify;
    color: #243038;
}






.service-content-two{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 55px;
}
.img-part-ser-two{
    width: 497px;
    height: 297px;
    float: left;    
}
.img-part-ser-two img{
    width: 442px;
    margin-left: -42px;
    margin-top: 23px;
    height: 307px;
}
.inner-ser-content-two{
    width: 681px;
    /* height: 272px; */
    float: left;
    margin-left: 4px;
    line-height: 26px;
    padding-left: 78px;
    padding-right: 150px;
    margin-top: 38px;
}
.inner-ser-content-two h2{
   font-family: 'Dancing Script', cursive;
    font-size: 42px;
    font-weight: bold;
    text-align: justify;
    color: #243038;
    margin-bottom: 17px;

}
.inner-ser-content-two p{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    text-align: justify;
    color: #243038;
}

/*services*/



/*contact */
.contact-banner-part{
margin-top: 79px;
}

.contact-banner-part img{
    width: 100%;
}
.contact-banner-part .con-links{
  text-align: center;
    margin-top: -76px;
    margin-bottom: 120px;
}

.contact-banner-part .con-links span a{
    color: #fff;
    text-decoration: none;
    font-size: 23px;
    font-family: 'Dancing Script', cursive;
}

.contact-banner-part .con-links h3{
color: #fff;
padding-top: 5px;
}


.line{
   color: #fff;
    margin-top: 6px;
}

.contact{
    margin-bottom: 88px;
}

.contact-content{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 55px;
}
.img-part-con{
    width: 497px;
    height: 297px;
    float: left;    
}
.img-part-con img{
   width: 419px;
    margin-left: 50px;
    margin-top: 43px;
}
.inner-con-content{
    width: 779px;
    float: left;
    margin-left: 4px;
    line-height: 26px;
    padding-left: 25px;
    padding-right: 150px;
    margin-top: 68px;
}
.inner-con-content h2{
   font-family: 'Dancing Script', cursive;
    font-size: 42px;
    font-weight: bold;
    text-align: justify;
    color: #243038;
    margin-bottom: 17px;

}
.inner-con-content p{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    text-align: justify;
    color: #243038;
}



input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #f38e92;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}




.map{
    margin-bottom: 88px;
}

.map-content{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 55px;
}
.img-part-map{
    width: 497px;
    height: 297px;
    float: left;
    margin-left: 44px;
}
.img-part-map img{
   width: 419px;
    margin-left: 50px;
    margin-top: 43px;
}
.inner-map-content{
    width: 681px;
    float: left;
    margin-left: 4px;
    line-height: 26px;
    padding-left: 25px;
    padding-right: 150px;
    margin-top: 68px;
}
.inner-map-content h2{
   font-family: 'Dancing Script', cursive;
    font-size: 42px;
    font-weight: bold;
    text-align: justify;
    color: #243038;
    margin-bottom: 17px;

}
.inner-map-content p{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    text-align: justify;
    color: #243038;
}

.inner-map-content .address-section{
    background: #f38e92;
    margin-left: 123px;
    width: 546px;
    height: auto;
    padding: 48px;
    border-left: 7px solid #0b1115;
    border-right: 7px solid #0b1115;
}

.inner-map-content .address-section h3 {
   font-size: 42px;
    color: #0b1115;
    margin-bottom: 25px;
    font-weight: 800;
    padding-bottom: 14px;
    border-bottom: 1px solid #0b1115;
    font-family: 'Dancing Script', cursive;
}

.inner-map-content .address-section ul.list {
    list-style: none;
    margin-left: 0px;
}
.inner-map-content .address-section ul.list li {
   font-size: 25px;
    color: #0a1014;
    margin-bottom: 22px;
}

.inner-map-content .address-section ul.list li i {
    color: #0b1115;
}


/*contact*/







.footer{
	background-image: url(../images/bg2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 31px 0;
}
.footer-left {
    width: 377px;
    height: 280px;
    float: left;
    padding-left: 84px;
    padding-top: 31px;
    margin-right: 26px;
}
.footer-left .inner-footer-one{

}

.footer-left .inner-footer-one img.footer-logo{
width: 180px;
}


.footer-left .useful-links h3 {
   font-size: 30px;
    color: #f38e92;
    margin-bottom: 25px;
    padding-bottom: 14px;
    border-bottom: 1px solid #fff;
    font-family: 'Dancing Script', cursive;
}

.footer-left .useful-links ul.list {
    list-style: none;
    margin-left: 0px;
}

.footer-left .useful-links ul.list li a {
    font-size: 17px;
    color: #fff;
    text-decoration: none;
    line-height: 25px;
}

.footer-left .useful-links ul.list li i {
    color: #f38e92;
}

.footer-left .address-section h3 {
   font-size: 30px;
    color: #f38e92;
    margin-bottom: 25px;
    padding-bottom: 14px;
    border-bottom: 1px solid #fff;
    font-family: 'Dancing Script', cursive;
}

.footer-left .address-section ul.list {
    list-style: none;
    margin-left: 0px;
}
.footer-left .address-section ul.list li {
    font-size: 17px;
    color: #fff;
    margin-bottom: 12px;
}

.footer-left .address-section ul.list li i {
    color: #f38e92;
}

.footer-left p{
	font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding: 10px;
    line-height: 23px;
    color: #fff;
}




.header-section .topnav {
  overflow: hidden;
  background-color: #fff;
  float: right;
  padding-top: 14px;
    padding-bottom: 8px;
}

.header-section .menubar{
  display: flex;
}
.header-section .topnav a {
 float: left;
    display: block;
    color: #2a2a2a;
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
    font-size: 15px;
}

.header-section .topnav a:hover {
  background-color: #ddd;
  color: black;
}

.header-section .topnav a.active {
 color: #ffffff;
 background: #f38e92;
}

.header-section .topnav .icon {
  display: none;
}


@media only screen and (min-width:992px) and (max-width:1199px) {
.main-container{
    width: 98%;
}
.logo{
    width: 25%;
}


.banner-part{
width: 100%;
}
.img-part{
 width:70%;
}
.abt-content{
width:28%;
margin-left: 19px;
}
.product-gallery-box{
    width:24%;
    margin-right: 12px;
}
.product-gallery-box1{
    width:24%;
}
.product-gallery-box p{
    font-size: 12px;
}
.product-gallery-box1 p{
    font-size: 12px;
}
.testimonials{
width: 100%;
}
.footer-left{
    width: 24%;
    margin-right: 12px;
}
.footer-right{
    width: 24%;
    
}
}
@media only screen and (min-width:768px) and (max-width:991px) {
.main-container{
    width: 98%;
}
.logo{
    width: 25%;
}

.banner-part{
width: 100%;
}
.about-content{
 width:70%;
}
.abt-content{
width:28%;
margin-left: 15px;
}
.product-gallery-box{
    width:23%;
    margin-right: 20px;
}
.product-gallery-box1{
    width:23%;
}
.product-gallery-box p{
    font-size: 12px;
}
.product-gallery-box1 p{
    font-size: 12px;
}
.testimonials{
width: 100%;
}
.footer-left{
    width: 23%;
    margin-right: 18px;
}
.footer-right{
    width: 23%;
    
}
}
@media only screen and (max-width: 767px){
  .container-fluid{
    width: 100%;
  }

.logo img {
    width: 200px;
    padding-top: 9px;
    padding-bottom: 5px;
    margin-left: 84px;
}
.feel-natural-section .inner-feel h3 {
    font-size: 48px;
    text-align: center;
    margin-bottom: 17px;
    font-weight: 700;
    margin-left: 114px;
    margin-top: 26px;
    font-family: 'Dancing Script', cursive;
}
.feel-natural-section .inner-feel img {
    margin-left: 0px;
    width: 497px;
}
.banner-part img {
   width: 497px;
    margin-top: 108px;
}

.img-part img {
    width: 307px;
    margin-left: 57px;
}
  .header-section .topnav {
    overflow: hidden;
    background-color: #fff;
    float: right;
    padding-top: 0px;
    padding-bottom: 1px;
    margin-top: -8px;
    /* margin-left: -20px; */
    margin-right: 19px;
    width: 104%;
  }
.product-gallery-box1 img {
    width: 495px;
    height: 311px;
    background: #197abe;
    float: left;
    margin-right: 13px;
}
.product-gallery-box1 p {
    width: 494px;
    height: 57px;
    background: #28353d;
    float: left;
    margin-right: 13px;
    text-align: center;
    color: #fff;
    font-size: 23px !important;
    padding-top: 
  }
.product-gallery-box1 p {
    width: 494px;
    height: 57px;
    background: #28353d;
    float: left;
    margin-right: 13px;
    text-align: center;
    color: #fff;
    padding-top: 20px;
}
 .header-section {
    margin-left: 38px;
    margin-right: 0px;
}

.abt-content h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    font-weight: bold;
    text-align: justify;
    color: #243038;
    margin-bottom: 13px;
    margin-left: 50px;
}
  .logo{
    width: 100%;
    float: none;
    margin: auto;
  }

  
  .banner-part{
width: 100%;
    float: none;
    margin: auto;
    margin-top: 10px;
  }
  .banner-part p{
    font-size:15px;
  }
  .about-content{
    width: 100%;
    float: none;
    margin: auto;
    margin-top: 10px;
  }
 
 .abt-content {
    width: 100%;
    float: none;
    margin: auto;
    margin-top: 10px;
}

.abt-content h2 {
  font-family: 'Dancing Script', cursive;
    font-size: 40px;
    font-weight: bold;
    text-align: justify;
    color: #243038;
    margin-bottom: 13px;
    width: 224px;
    margin-left: 12px;
}
  .abt-content p {
    width: 319px;
    font-size: 15px;
    margin-left: -58px;
}
  .product-gallery-box{
width: 100%;
    float: none;
    margin: auto;
    margin-top: 10px;
  }
  .product-gallery-box1{
width: 100%;
    float: none;
    margin: auto;
    margin-top: 10px;
  }
  .product-gallery-box p{
     font-size:15px;
  }
  .product-gallery-box1 p{
     font-size:15px;
  }

  .product-gallery-box img {
    width: 499px;
    height: 311px;
     background: #fff !important;
    float: left;
    margin-right: 13px;
}

.product-gallery-box p {
    width: 496px;
    height: 57px;
    background: #28353d;
    float: left;
    margin-right: 13px;
    text-align: center;
    color: #fff;
    font-size: 23px;
    padding-top: 12px;
}
  .testimonials {
  width: 500px !important;
    height: 404px;
    margin: auto;
    padding: 58px;
    background: #f38e92;
    margin-top: 25px;
    margin-bottom: 68px;
}

.testimonials .inner {
    border: 2px solid #fff;
    padding: 6px;
}

.testimonials .inner h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: #28353d;
}
  .testimonials p{
    font-size:15px;
  }

  .footer {
    background-image: url(../images/bg2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 28px 0;
    width: 497px;
}
  .footer-left{
width: 100%;
    float: none;
    margin: auto;
    margin-top: 10px;
  }
  .footer-right{
width: 100%;
    float: none;
    margin: auto;
    margin-top: 10px;
  }
   .footer-left p{
    font-size:15px;
  }
   .footer-right p{
    font-size:15px;
  }
  .footer{
    padding: 10px;
  }


  .img-part-abt img {
    width: 292px;
    margin-left: 48px;
    margin-top: 20px;
}

.inner-abt-content {
    width: 100%;
    margin-left: 4px;
    line-height: 26px;
    padding-left: 14px;
    padding-right: 27px;
    margin-top: 38px;
}

.counter-gallery-box1 {
    width: 290px;
    float: left;
}

.counter {
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 121px;
    margin-top: 50px;
    margin-left: 45px;
}

.collapse-section {
    width: 100%;
    margin-left: 5px;
    margin-top: -51px;
    margin-bottom: 74px;
}

.img-part-ser-one img {
    width: 310px;
    margin-left: -51px;
    margin-top: 69px;
}

.collapsible {
    background-color: #f38e92;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 381px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    margin-bottom: 14px;
    border-lef
}

.inner-ser-content-one {
    width: 330px;
    /* height: 272px; */
    float: left;
    margin-left: -63px;
    line-height: 26px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 38px;
}

.inner-ser-content-two {
    width: 488px;
    /* height: 272px; */
    float: left;
    margin-left: -67px;
    line-height: 26px;
    padding-left: 0px;
    padding-right: 151px;
    margin-top: 38px;
}

.img-part-ser-two img {
    width: 310px;
    margin-left: -42px;
    margin-top: 23px;
}

.inner-ser-content-two h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 37px;
    font-weight: bold;
    text-align: justify;
    color: #243038;
    margin-bottom: 15px;
}

.img-part-con img {
    width: 221px;
    margin-left: 82px;
    margin-top: -5px;
}

.inner-con-content h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 42px;
    font-weight: bold;
    text-align: justify;
    color: #243038;
    margin-bottom: 17px;
    margin-top: 21px;
}

.inner-con-content {
    width: 501px;
    float: left;
    margin-left: 4px;
    line-height: 26px;
    padding-left: 25px;
    padding-right: 150px;
    margin-top: 68px;
}

.inner-map-content .address-section ul.list li {
    font-size: 19px;
    color: #0a1014;
    margin-bottom: 14px;
}
.map{
  width: 180px !important; 
}
.inner-map-content {
    width: 681px;
    float: left;
    margin-left: 4px;
    line-height: 26px;
    padding-left: 25px;
    padding-right: 150px;
    margin-top: 191px;
}

.inner-map-content .address-section {
    background: #f38e92;
    margin-left: 0px;
    width: 338px;
    height: auto;
    padding: 13px;
    border-left: 7px solid #0b1115;
    border-right: 7px solid #0b1115;
}
}
@media only screen and (min-width:320px) and (max-width:479px) {
  .main-container{
    width: 90%;
  }
  .logo{
    width: 100%;
    float: none;
    margin: auto;
  }

  .banner-part{
width: 100%;
    float: none;
    margin: auto;
    margin-top: 10px;
  }
  .banner-part p{
    font-size:15px;
  }
  .content-part{
    width: 100%;
    float: none;
    margin: auto;
    margin-top: 10px;
  }
  .content-part p{
    font-size:15px;
  }
  .get-in-touch{
    width: 100%;
    float: none;
    margin: auto;
    margin-top: 10px;
  }
  .get-in-touch p{
    font-size:15px;
  }
  .product-gallery-box{
width: 100%;
    float: none;
    margin: auto;
    margin-top: 10px;
  }
  .product-gallery-box1{
width: 100%;
    float: none;
    margin: auto;
    margin-top: 10px;
  }
  .product-gallery-box p {
    font-size: 27px;
}
  .product-gallery-box1 p{
     font-size:15px;
  }
  .testimonials{
    width: 100%;
    float: none;
    margin: auto;
    margin-top: 10px;
  }
  .testimonials p{
    font-size:15px;
  }
  .footer-left {
    width: 440px;
    float: none;
    margin: auto;
    margin-top: 6px;
    margin-left: -51px;
}
  .footer-right{
width: 100%;
    float: none;
    margin: auto;
    margin-top: 10px;
  }
   .footer-left p{
    font-size:15px;
  }
   .footer-right p{
    font-size:15px;
  }
  .footer{
    padding: 10px;
  }
}
